/* CSS Reset */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* My CSS */

:root {
  --clr-primary-500: hsl(185, 75%, 39%);
  --clr-primary-800: hsl(229, 23%, 23%);
  --clr-primary-700: hsl(227, 10%, 46%);

  --clr-neutral-700: hsl(0, 0%, 59%);

  --fs-body: 15px;
  --fs-bold: 18px;

  --fw-regular: 400;
  --fw-bold: 700;

  --ff-body: "Kumbh Sans", sans-serif;
}

body {
  font-size: var(--fs-body);
  font-weight: var(--fw-regular);
  color: var(--clr-neutral-700);
  font-family: var(--ff-body);
}

main {
  min-height: 100svh;
  display: grid;
  background-color: var(--clr-primary-700);
}

.profile {
  place-self: center center;
  background-color: white;
  border-radius: 1rem;
  z-index: 1;
  position: relative;
}

.profile__header {
  border-radius: 1rem 1rem 0 0;
  margin-bottom: 5rem;
}

.profile__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid hsl(0, 0%, 89%);
}

.profile__name {
  display: inline;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
}

.profile__name span {
  font-size: var(--fs-bold);
}

.avatar {
  border: 5px solid white;
  border-radius: 50%;
  position: absolute;
  top: 23%;
}

.social-stats {
  display: flex;
  justify-content: space-around;
  padding-block: 2rem;
}

.social-stats__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bg-img {
  position: absolute;
}

.bg-img--top {
  top: -10vh;
  left: -50vw;
}

.bg-img--bottom {
  bottom: -10vh;
  right: -50vw;
}

/* Utility */

.text--bold {
  font-size: var(--fs-bold);
  color: var(--clr-primary-800);
  font-weight: var(--fw-bold);
}

@media screen and (max-width: 800) {
  main {
    background-position: 50vw 50vh, -100vw -50vh;
  }
}
